# Konfigurasi Database TiDB Cloud / MySQL
DB_HOST=gateway01.ap-southeast-1.prod.alicloud.tidbcloud.com
DB_PORT=4000
DB_USER=your_username.root
DB_PASSWORD=your_password
DB_NAME=ud_abang_adik
DB_CA_PATH=isrgrootx1.pem

# Konfigurasi JWT
JWT_SECRET=ganti_dengan_secret_key_yang_kuat_dan_acak

# Port Server (opsional, default: 5000)
PORT=5000
